
.weather-app {
  max-width: 600px;
  margin:10px auto;
  background: linear-gradient(179.7deg, rgb(248, 126, 126) -0.5%, rgb(251, 206, 143) 35.3%, rgb(184, 252, 233) 67.2%, rgb(118, 162, 229) 92.3%);
  background-size: 600px;
  padding: 8px;
  border: 1px solid rgb(219, 216, 216);
  border-radius: 10px;
 
 
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 0;
  width: 100%;
}
.search-bar {
  display: block;
  justify-content: space-between;
  border: 0.8px solid rgb(90, 87, 87);
  border-radius: 100px;
  margin-bottom: 5px;

}
button{
  display: block;
  border:0.5px solid transparent;
  border-radius: 100px;
  background-color: transparent;
}

h3,
h5,
p {
  text-align: center;
  margin: 10px auto 0 auto;
  font-weight: 900;
  font-size: 26px;
}
.cloud-sun {
  width: 100px;
  height: 100px;
}
.location {
  text-align: left;
  margin: 20px auto 0 auto;
  font-size: 22px;
}
h1 {
  text-align: left;
  position: relative;
  margin: 10px auto 0 auto;
  font-size: 56px;
  color: #004a2f;
}
.row {
  font-size: 12px;
  text-align: center;
  background-color: transparent;
}
.coder {
  text-align: center;
  position: fixed;
  bottom: 0px;
}
